
  <h2 class="text-center"><%=@email.object%></h2>

  <%= @email.body %>
  <br>
<%= link_to '<i class="fas fa-trash"></i>'.html_safe, email_path(@email.id), data: {confirm: "Êtes-vous sûr de vouloir supprimer ce mail ?"}, method: "delete", remote: true%>
  <button class="btn btn-primary" id="read-btn"> <%= link_to "Marquer comme non lu", email_path(@email.id), method: "put", remote: true, class:'text-decoration-none text-white' %></button>

  <% @email.read = true%>
  <% @email.update(read: true)%>
